.wrapper {
	border: 1px solid #C4CDE0;
	padding: 0 3px 1px;
	-webkit-border-radius: 4px;
	background-color: white;
	width: 700px;
	word-wrap: break-word;
	color: #333;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.post-content {
	font-size: 13px;
	line-height: 17px;
	margin: 0 0 5px 0;
	padding: 0px 0 10px 15px;
	display: block;
}

.likes {
	margin-top: 1px;
	font-size: 11px;
	background-color: #EDEFF4;
	padding: 5px 12px 5px 12px;
}

.comment {
	margin-top: 1px;
	font-size: 11px;
	background-color: #EDEFF4;
	padding: 5px 12px;
}

.response { /*padding:5px 12px;*/
	
}

.likebanner {
	margin-top: 1px;
	font-size: 11px;
	background-color: #EDEFF4;
	padding: 5px 12px;
}

.like-icon {
	background-position: 0 -52px;
	background-image: url(icons.png);
	background-repeat: no-repeat;
	height: 13px;
	width: 15px;
	display: block;
	float: left;
	padding-right: 5px;
}

.link {
	color: #3B5998
}

.post-user {
	margin-left: 60px;
}

.post_user {
	height: 60px;
	border-bottom: 1px solid #E9E9E9;
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 15px 15px 15px 15px;
}

.dp {
	width: 50px;
	height: 50px;
	float: left;
}

.comment-dp {
	width: 32px;
	height: 32px;
	float: left;
}

.comment-content {
	margin-left: 42px;
}

.comment-likes {
	padding-left: 0px;
}

.name-user {
	color: #3B5998;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
}

.timestamp {
	color: #999;
	font-size: 11px;
}

.animated {
	border: 1px solid #ccc;
	vertical-align: top;
	transition: height 0.2s;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	width: 80%;
}

.remove-comment {
	top: 5px;
	background-image: url(deleteicons.png);
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	float: right;
	background-position: left -0px;
	opacity: 1;
}

.remove-comment:hover {
	background-position: left -32px;
}

.remove-comment:active {
	background-position: left -48px;
}
.beta{
	position:fixed;
	top:0px;
	left:65%;
	width:100px;
	hieght:100px;
	
}