<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>FileEchoServlet</servlet-name>
		<servlet-class>org.techno.fakewall.FileEchoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileEchoServlet</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>SaveImage</servlet-name>
		<servlet-class>org.techno.fakewall.SaveImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveImage</servlet-name>
		<url-pattern>/saveimage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetImage</servlet-name>
		<servlet-class>org.techno.fakewall.GetImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetImage</servlet-name>
		<url-pattern>/getimage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RandomTextServlet</servlet-name>
		<servlet-class>org.techno.fakewall.RandomTextServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomTextServlet</servlet-name>
		<url-pattern>/randomtext</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageProxyServlet</servlet-name>
		<servlet-class>org.techno.fakewall.ImageProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageProxyServlet</servlet-name>
		<url-pattern>/proxy</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>OpenGraphServlet</servlet-name>
		<servlet-class>org.techno.fakewall.OpenGraphServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenGraphServlet</servlet-name>
		<url-pattern>/opengraph/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddUserDetailsServlet</servlet-name>
		<servlet-class>org.techno.fakewall.AddUserDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUserDetailsServlet</servlet-name>
		<url-pattern>/adduserdetails</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DownloadImage</servlet-name>
		<servlet-class>org.techno.fakewall.DownloadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloadImage</servlet-name>
		<url-pattern>/downloadimage</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
